[submodule "toys/seken-aksu"]
	path = toys/seken-aksu
	url = https://github.com/yinkar/seken-aksu
[submodule "toys/ucank"]
	path = toys/ucank
	url = git@github.com:yinkar/ucank
[submodule "bouncing-ball-on-js-console"]
	path = bouncing-ball-on-js-console
	url = git@github.com:yinkar/bouncing-ball-on-js-console.git
