/*! div style */
.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4px;
    gap: 10px;
}

.box {
    margin: 2px;
}

.img-gallery {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.img-gallery:hover {
    transform: scale(1.05);
}
