---
layout: default
---

<div class="home">

  <div class="showcase">
    <div class="showcase-item">
      <img src="/images/showcase/ansi-art-painter-thumb.jpg" alt="Ansi Art Painter">
      <div class="title">Ansi Art Painter</div>
      <a href="/toys/ansi-art-painter/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/emoji-favicon-thumb.jpg" alt="Emoji Favicon">
      <div class="title">Emoji Favicon</div>
      <a href="/emoji-favicon/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/ascii-table-thumb.jpg" alt="ASCII Table">
      <div class="title">ASCII Table</div>
      <a href="/ascii-table/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/brainfkr-thumb.jpg" alt="Brainfkr">
      <div class="title">Brainfkr</div>
      <a href="/toys/brainfkr/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/game-of-life-thumb.jpg" alt="Game of Life">
      <div class="title">Game of Life</div>
      <a href="/toys/game-of-life/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/p2p-messenger-thumb.jpg" alt="P2P Messenger">
      <div class="title">P2P Messenger</div>
      <a href="/toys/p2p-messenger/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/ucank-thumb.jpg" alt="Uçank">
      <div class="title">Uçank</div>
      <a href="/toys/ucank/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/window-toy-thumb.jpg" alt="Window Toy">
      <div class="title">Window Toy</div>
      <a href="/toys/window-toy/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/yinkar-icons-thumb.jpg" alt="Yinkar Icons">
      <div class="title">Icons</div>
      <a href="/yinkar-icons/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/yinkar-clocks-thumb.jpg" alt="Yinkar Clocks">
      <div class="title">Clocks</div>
      <a href="/yinkar-clocks/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/orion-player-thumb.jpg" alt="Orion Player">
      <div class="title">Orion Player</div>
      <a href="/orion-player/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/guitar-fret-calculator-thumb.jpg" alt="Guitar Fret Calculator">
      <div class="title">Guitar Fret Calculator</div>
      <a href="/guitar-fret-calculator/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/github-explorer-thumb.jpg" alt="Github Explorer">
      <div class="title">Github Explorer</div>
      <a href="/github-explorer/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/ilkkanmatik-thumb.jpg" alt="Ilkkanmatik">
      <div class="title">İlkkanmatik</div>
      <a href="/ilkkanmatik/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/yilmazmatik-thumb.jpg" alt="Yılmazmatik">
      <div class="title">Yılmazmatik</div>
      <a href="/yilmazmatik/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/morse-translator-thumb.jpg" alt="Morse Translator">
      <div class="title">Morse Translator</div>
      <a href="/morse-translator/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/typing-speed-test-thumb.jpg" alt="Typing Speed Test">
      <div class="title">Typing Speed Test</div>
      <a href="/typing-speed-test/"></a>
    </div>

    <div class="showcase-item">
      <img src="/images/showcase/web-sandbox-thumb.jpg" alt="Web Sandbox">
      <div class="title">Web Sandbox</div>
      <a href="/toys/web-sandbox/"></a>
    </div>
  </div>


  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Blog Yazıları" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS</a> ile abone ol</p>
  {%- endif -%}

</div>
